@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes colorCycle {
  0%, 100% { color: #ea580c; }
  25% { color: #16a34a; }
  50% { color: #2563eb; }
  75% { color: #9333ea; }
}